#code-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  background-color: white;
  overflow-x: hidden;
}

.otpmultibox {
  display: flex;
}

.verification-paragraph {
  font-weight: bold;
  font-size: 1.2rem;
}

.otp-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.code {
  height: 42px;
  width: 42px;
  border: 1px solid black;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: bold;
}

.verify-email{
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-radius: 7px;
  width: 90%; /* Full width for the button */
  background-color: black;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  margin-top: 25px;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}